@charset "UTF-8";

/*-----共通の設定-----*/

a{
	text-decoration: none;
}
li{
	list-style: none;
}
.videowrap{
	width: 100%;
	height: 680px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.videowrap video{
	border: none;
	display: block;
	width: 100%;
}
section h2,
section h3{
	font-weight: normal;
}
.contents-wrapper {
	width:  100%;
	min-width: 1280px;
	margin: 0 auto;
	z-index: 999;
}
.sectionwrap{
	width: 1000px;
	max-width: 1280px;
	margin: 0 auto;
}
.title {
	text-align: center;
	font-size: 32px;
	padding-top: 60px;
}
.btnwrap{
	padding: 60px 0 60px 0;
}
.button {
	display: block;
	width: 728px;
	margin: 0 auto;
	background-color: #1b5688;
	border: none;
	border-radius: 5px;
}
.button a {
	display: block;
	color: #fff;
	padding: 27px;
	font-size: 24px;
	letter-spacing: 1.4px;
}
.button a:hover{
	opacity: 0.7;
}

/*-----topの設定-----*/

.top{
	max-width: 1280px;
	min-width: 1280px;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.top h1 img{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 250px;
}
.top .playBtn{
	position: absolute;
	top:470px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.top .playBtn:hover{
	opacity: 0.7;

}
.top .playBtn a{
	border: 1px solid #fff;
	color: #fff;
	border-radius: 50px;
	padding:26px 80px;
}
.top .appBtn{
	position: absolute;
	top: 580px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.top .appBtn li{
	display: inline-block;
}
.google{
	padding-left: 44px;
}


/*-----headerの設定-----*/
header .sp-head-nav{
	display: none;
}
header{
	width: 100%;
	height: 76px;
	position: fixed;
	z-index: 999;
}
header .head-nav{
	position: absolute;
	float: left;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	box-sizing: border-box;
}
header .head-nav ul li{
	padding: 25px;
	float: left;
}
header .head-nav ul li a{
	color: #fff;
}
header .head-nav ul li a:hover{
	border-bottom: 1px solid #1b5688;
	opacity: 0.7;
	padding-bottom: 8px;
	transition: all 0.3s ease-out;
}
header .head-nav ul li a:hover:after{
	opacity: 1;
	top: 100%;
	height: 4px;
}

header .top-btn{
	text-align: center;
	float: right;
	width: 200px;
	background-color: #1b5688;
	border: none;
	border-radius: 3px;
	margin: 16px 60px 0 0;
}
header .top-btn a{
	display: block;
	color: #fff;
	padding: 7px;
	font-size: 14px;
	letter-spacing: 1.4px;
}
header .top-btn a:hover{
	opacity: 0.7;
}
header .headmenu-logo{
	float: left;
	display: inline-block;
	padding: 16px 0 0 120px;
	display: none;
}

/*-----newsの設定-----*/
.newswrap{
	background-color: #eee;
	height: 330px;
}
.news-list-box{
	width: 700px;
	min-width: 800px;
	height: 150px;
	margin: 40px auto;
	overflow-y: scroll;
}
.news-list .news-item a {
  display: block;
  padding: 15px;
  color: #333;
  font-size:0;
  transition: background-color 0.1s;
}

.news-list .news-item a:hover{
	background-color:#fff;
}

.news-list .date{
	font-size: 20px;
	letter-spacing:1px;
}

.news-list .news-item a span{
	width:73%;
	font-size: 20px;
	padding-left:18px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
/*--
section.news dl{
	width: 720px;
	margin: auto;
	padding-top: 40px;
}
section.news dt{
	float: left;
	font-size: 18px;
	line-height: 2.6;
	color: #555;
}
section.news dd{
	font-size: 18px;
	line-height: 2.6;
}
section.news dd a{
	color: #555;
}
section.news dd a:hover{
	opacity: 0.7;
	text-decoration: underline;
}
--*/
/*-----serviceの設定-----*/

section.service-wrap{
	background-color: #fff;
}
section .service-left{
	width: 50%;
	float: left;
}
section.service-wrap .service-left h2 {
  text-align: left;
  color: #444;
  padding-bottom: 46px;
}
section.service-wrap .service-left p {
	line-height: 2;
	font-size: 18px;
	color: #555;
}
section .service-img{
	padding: 60px 0 60px 0;
	float: right;
}
section .service-img img:first-child{
	padding-right: 30px;
}


/*-----stepの設定-----*/

.step-wrap{
	color: #fff;
	clear: both;
	background: url(../img/camera-1125874_1920.png) center center;
}
.step-wrap > .title{
	color: #fff;
}
.step-Contents-wrap{
	padding: 40px 0 0 0;
}
.step{
	width: 22%;
	margin-right: 30px;
	float: left;
	text-align: center;
	box-sizing: border-box;
}
.step h3{
	padding: 35px 0;
	font-size: 22px;
}
.step p{
	opacity: 0.9;
	text-align: left;
	font-size: 18px;
	line-height: 1.8;
}
.step img{
	border-radius: 50%;
}


/*-----infoの設定-----*/

.ii{
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	z-index: 10;
}
.info-wrap{
	background-color: #eee;
	text-align: center;
}
.info-wrap > .sectionwrap{
	width: 50%;
}
.info-wrap h2{
	color: #444;
}
.info-wrap p{
	font-size: 16px;
	padding: 40px 0 60px 0;
	line-height: 2;
	color: #555;
}
.slide-show{
	width: 100%;
	position: relative;
}
/*--
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-wrapper,
.swiper-pagination{
	margin-top: -455px;
}
.swiper-slide {
		text-align: center;
			font-size: 18px;
			/* Center slide text vertically */
			/*
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
	}
*/
/*-----q&aの設定-----*/

.qa-wrap{
	background-color: #fff;
}
.question{
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 1000px;
	border: 1px solid #1b5688;
	box-sizing: border-box;
	border-radius: 3px;
}
.question:first-child{
	margin-top: 60px;
}
.question:last-child{
	margin-bottom: 0;
}
.question span{
	color: #1b5688;
	display: table-cell;
	padding: 10px 20px;
	font-size: 30px;
	font-weight: normal;
}
.question .question-title{
	font-size: 18px;
	color: #444;
	border-left: 1px solid #1b5688;
	padding: 10px 10px 10px 20px;
	display: table-cell;
	vertical-align: middle;
}
.question .question-text{
	font-size: 16px;
	color: #555;
	margin-top: 10px;
	line-height: 1.8;
	padding: 10px 20px 0 20px;
	border-top: 1px dotted #1b5688;
}
/*-----blogの設定-----*/

.blog-wrap{
	width: 100%;
	background: url(../img/bg_blog.png) no-repeat center;
	background-size: cover;
}
.blog-wrap > .title{

	color: #eee;
}
.blog-contents-wrap{
	padding: 60px 0 0 0;
}
.blog-wrap .blog-contents-wrap .blog-content {
	display: block;
	background-color: #fff;
	width: 320px;
	overflow: hidden;
	margin-right: 20px;
	text-align: left;
	float: left;
}
.blog-wrap .blog-contents-wrap .blog-content:last-child{
	margin-right: 0;
}
.blog-wrap .blog-contents-wrap .blog-content p{
	width: 320px;
	font-size: 14px;
	margin: 0 auto;
	line-height: 1.6;
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
	color: #555;
}
.blog-wrap .blog-contents-wrap .blog-content time{
	font-weight: bold;
}
.blog-wrap .blog-contents-wrap a:hover img{
	opacity: 0.7;
}


/*-----snsの設定-----*/
.sns-contents-wrap{
	width: 800px;
	margin: 60px auto;
}
.facebook{
	float: left;
}
.twitter{
	float: right;
}
iframe.customisable-highlight{
	font-size: 16px;
}
/*-----footerの設定-----*/

footer{
	background-color: #393939;
}


/* transition */
#top-head,
#top-head:after,
#top-head .logo,
.head-nav ul li,
.head-nav ul li a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
/* Fixed */
#top-head.fixed {
		background-color: #fff;
}
#top-head.fixed:after {
    width: 100%;
    margin-top: 20px;
}
#top-head.fixed .head-nav ul li a {
    color: #1b5688;
}
#top-head.fixed .headmenu-logo{
	display: block;
}
/* clearfix */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
