@charset "UTF-8";
/*===========================================
	共通設定
=============================================*/
/* line 36, ../sass/test.scss */
a {
  text-decoration: none;
}

/* line 39, ../sass/test.scss */
li {
  list-style: none;
}

/* line 42, ../sass/test.scss */
.videowrap {
  width: 100%;
  height: 680px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
}
/* line 49, ../sass/test.scss */
.videowrap video {
  border: none;
  width: 100%;
}

/* line 54, ../sass/test.scss */
.contents-wrapper {
  width: 100%;
  min-width: 1280px;
  margin: 0 auto;
  z-index: 999;
}

/* line 61, ../sass/test.scss */
.sectionwrap {
  width: 1000px;
  max-width: 1280px;
  margin: 0 auto;
}

/* line 67, ../sass/test.scss */
.title {
  text-align: center;
  font-size: 32px;
  padding-top: 60px;
}

/*===========================================
	button設定
=============================================*/
/* line 76, ../sass/test.scss */
.btnwrap {
  padding: 60px 0;
}
/* line 79, ../sass/test.scss */
.btnwrap .button {
  width: 782px;
  background-color: #1b5688;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}
/* line 85, ../sass/test.scss */
.btnwrap .button a {
  display: block;
  color: #fff;
  padding: 27px;
  font-size: 24px;
  letter-spacing: 1.4px;
}
/* line 92, ../sass/test.scss */
.btnwrap .button a:hover {
  opacity: 0.7;
}

/*===========================================
	section設定
=============================================*/
/* line 102, ../sass/test.scss */
section h2, section h3 {
  font-weight: normal;
}

/*===========================================
	header設定
=============================================*/
/* line 110, ../sass/test.scss */
header {
  width: 100%;
  height: 76px;
  position: fixed;
  z-index: 999;
}
/* line 116, ../sass/test.scss */
header .sp-head-nav {
  display: none;
}
/* line 120, ../sass/test.scss */
header .head-nav {
  position: absolute;
  float: left;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-sizing: border-box;
}
/* line 128, ../sass/test.scss */
header .head-nav ul li {
  padding: 25px;
  float: left;
}
/* line 133, ../sass/test.scss */
header .head-nav a {
  color: #fff;
}
/* line 135, ../sass/test.scss */
header .head-nav a:hover {
  border-bottom: 1px solid #1b5688;
  opacity: 0.7;
  padding-bottom: 8px;
  transition: all 0.3s ease-out;
}
/* line 141, ../sass/test.scss */
header .head-nav a:hover::after {
  opacity: 1;
  top: 100%;
  height: 4px;
}
/* line 148, ../sass/test.scss */
header .top-btn {
  text-align: center;
  float: right;
  width: 200px;
  background-color: #1b5688;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 16px 60px 0 0;
}
/* line 156, ../sass/test.scss */
header .top-btn a {
  display: block;
  color: #fff;
  padding: 7px;
  font-size: 14px;
  letter-spacing: 1.4px;
}
/* line 162, ../sass/test.scss */
header .top-btn a:hover {
  opacity: 0.7;
}
/* line 167, ../sass/test.scss */
header .headmenu-logo {
  float: left;
  display: inline-block;
  padding: 16px 0 0 120px;
  display: none;
}

/*===========================================
	transition設定
=============================================*/
/* line 177, ../sass/test.scss */
#top-head,
#top-head:after,
#top-head .logo,
.head-nav ul li,
.head-nav ul li a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*===========================================
	Fixed設定
=============================================*/
/* line 188, ../sass/test.scss */
#top-head .fixed {
  background-color: #fff;
}
/* line 190, ../sass/test.scss */
#top-head .fixed::after {
  width: 100%;
  margin-top: 20px;
}
/* line 195, ../sass/test.scss */
#top-head .fixed .head-nav ul li a {
  color: #1b5688;
}
/* line 199, ../sass/test.scss */
#top-head .fixed .headmenu-logo {
  display: block;
}

/*===========================================
	.top設定
=============================================*/
/* line 209, ../sass/test.scss */
.top {
  width: 100%;
  text-align: center;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 214, ../sass/test.scss */
.top h1 img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 250px;
}
/* line 221, ../sass/test.scss */
.top .playBtn {
  position: absolute;
  top: 470px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 226, ../sass/test.scss */
.top .playBtn a {
  border: 1px solid #fff;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  padding: 26px 80px;
}
/* line 232, ../sass/test.scss */
.top .playBtn:hover {
  opacity: 0.7;
}
/* line 237, ../sass/test.scss */
.top .appBtn li {
  display: inline-block;
}
/* line 240, ../sass/test.scss */
.top .appBtn .google {
  padding-left: 44px;
}

/*===========================================
	.news設定
=============================================*/
/* line 249, ../sass/test.scss */
.newswrap {
  background-color: #eee;
  height: 330px;
}
/* line 252, ../sass/test.scss */
.newswrap .news-list-box {
  width: 700px;
  min-width: 800px;
  height: 150px;
  margin: 40px auto;
  overflow-y: scroll;
}
/* line 261, ../sass/test.scss */
.newswrap .news-list .news-item a {
  display: block;
  padding: 15px;
  color: #333;
  font-size: 0;
  transition: background-color 0.1s;
}
/* line 268, ../sass/test.scss */
.newswrap .news-list .news-item a:hover {
  background-color: #fff;
}
/* line 271, ../sass/test.scss */
.newswrap .news-list .news-item a span {
  width: 73%;
  font-size: 20px;
  padding-left: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 281, ../sass/test.scss */
.newswrap .news-list .date {
  font-size: 20px;
  letter-spacing: 1px;
}

/*===========================================
	.service設定
=============================================*/
/* line 292, ../sass/test.scss */
.service-wrap {
  background-color: #fff;
}
/* line 294, ../sass/test.scss */
.service-wrap .service-left {
  width: 50%;
  float: left;
}
/* line 297, ../sass/test.scss */
.service-wrap .service-left h2 {
  text-align: left;
  color: #444;
  padding-bottom: 46px;
}
/* line 302, ../sass/test.scss */
.service-wrap .service-left p {
  line-height: 2;
  font-size: 18px;
  color: #555;
}
/* line 308, ../sass/test.scss */
.service-wrap .service-img {
  padding: 60px 0;
  float: right;
}
/* line 311, ../sass/test.scss */
.service-wrap .service-img img:first-child {
  padding-right: 30px;
}

/*===========================================
	.step設定
=============================================*/

/*# sourceMappingURL=test.css.map */
