@charset "UTF-8";

/*===========================================
	header設定
=============================================*/
header{
	width: 100%;
	height: 80px;
  background-color: $bg-white;
	position: fixed;
	z-index: 999;
	.head-nav{
		position: absolute;
		float: left;
		transform: translate(-50%,-50%);
		left: 50%;
		top: 50%;
		box-sizing: border-box;
			ul li{
				float: left;
			}
			a{
        display: block;
        padding: 25px;
				color: $text-555;
				&:hover{
					opacity: 0.7;
          //@include border;
					//padding-bottom: 8px;
					//transition: all 0.3s ease-out;
				}
				&:hover::after{
					opacity: 1;
					top: 100%;
					height: 4px;
				}
			}
      .pc-none{
        display: none;
      }
		}
		.top-btn{
		text-align: center;
    float: right;
    margin: 18px 90px 0 0;
    .btn-blue{
      display: block;
    }
    .btn-white{
      display: none;
    }
    img{
      width: 200px;
      &:hover{
        opacity: $opacity;
      }
    }
		a{
			display: block;
			color: $base-color;
			padding: 10px;
			font-size: 14px;
			letter-spacing: 1.4px;
			&:hover{
				opacity: $opacity;
			}
		}
	}
	.headmenu-logo{
		display: inline-block;
    float: left;
    margin: 16px 0 0 90px;
	}
}

/*===========================================
	transition設定
=============================================*/
#top-head,
#top-head:after,
#top-head .logo,
.head-nav ul li,
.head-nav ul li a {
	@include transition(all 0.3s ease);
}

/*===========================================
	Fixed設定
=============================================*/
.fixed{
	background-color: $bg-white;
	&::after{
		width: 100%;
		margin-top: 20px;
	}
	.head-nav{
		ul li a{
			color: $text-555;
      &:hover{
        color: $base-color;
      }
		}
	}
  .top-btn{
    .btn-white{
      display: none;
    }
    .btn-blue{
      display: block;
    }
  }
	.headmenu-logo{
		display: block;
	}
}

/*===========================================
  navToggle設定
=============================================*/
#nav-toggle{
  display: none;
    //float: right;
    //margin: 26px 30px 0 0;
  position: absolute;
  top: 26px;
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  div{
    position: relative;
  }
  span{
    display: block;
    position: absolute;
    width: 100%;
    border-bottom:solid 2px $text-white;
    transition: .35s ease-in-out;
      &:nth-child(1){
        top: 2px;
      }
      &:nth-child(2){
        top: 11px;
      }
      &:nth-child(3){
        top: 20px;
      }
    }
  }

/*===========================================
  use-content-wrap設定
=============================================*/
.use-content-wrap{
  .section-wrap{
    padding-top: 150px;

	/*===========================================
	  use-visual設定
	=============================================*/
	.use-visual{
	  width: 70%;
	  margin: 0 auto;
	  height: 270px;
	  text-align: center;
	  padding-bottom: 60px;
	  .title{
	    padding-top: 0;
	    padding-bottom: 60px;
	    color: $text-555;
			font-weight: normal;
	  }
	  .take{
	    float: left;
	    p{
	      color: $text-white;
	      background-color: $bg-accent;
	    }
	  }
	  .lend{
	    float: right;
	    p{
	      color: $text-white;
	      background-color: $base-color;
	    }
	  }
	  	img{
	      width: 160px;
	      height: 160px;
	      display: inline-block;
	      border: 1px solid $text-555;
	      @include border-radius(50%);
	      z-index: -2;
	    }
	    p{
	      color: $text-555;
	      font-size: 20px;
	      margin: -350px 0 -30px 0;
	      display: inline-block;
	      vertical-align: middle;
	      padding: 5px 5px 5px 5px;
	      width: 40%;
	      font-size: 20px;
	    }
	  }

		/*===========================================
		  step-box設定
		=============================================*/
		.use-step-wrap{
		  width: 100%;
		  clear: both;
		  margin: auto;
		  .step-box{
		    padding-bottom: 30px;
		    text-align: center;
		    clear: both;
		    &:last-child{
		      padding-bottom: 60px;
		    }
		    span{
		      width: 100%;
		      color: $text-black;
		      font-size: 24px;
		      padding: 20px 0;
		      display: inline-block;
		    }
		    h2{
		      font-size: 26px;
		      width: 100%;
		      background-color: $base-color;
		      color: $text-white;
		      padding: 20px 0;
		    }
		    p{
		      color: $text-555;
		      font-size: 18px;
		      padding: 30px 40px;
		      width: 100%;
		      line-height: 2;
		      background-color: $bg-white;
		      box-sizing: border-box;
		    }
		    .step-division{
		      padding-bottom: 30px;
		      width: 50%;
		      float: left;
		      .bg-accent{
		        background-color: $bg-accent;
		      }
		      p{
		        text-align: justify;
		      }
		    }
		  }
		}
	}
}


/*===========================================
	footer設定
=============================================*/
footer{
  clear: both;
  background-color:$bg-footer;
    .section-wrap{
      height: 154px;
      padding: 60px 0;
      .footer-navapp-box{
        width: 80%;
        float: right;
      .footer-nav{
        width: 20%;
        float: left;
        nav{
          ul{
            li{
              padding-bottom: 30px;
              &:nth-last-child(1){
                padding-bottom: 0;
              }
              a{
                  font-size: 14px;
                  color: $text-white;

                  &:hover{
                  opacity: $opacity;
                  color: $text-eee;
                }
              }
            }
          }
        }
      }
    }
    .footer-app{
      float: right;
        a{
          display: block;
          img{
            &:first-child{
              padding-bottom: 10px;
            &:hover{
              opacity: $opacity;
            }
          }
        }
      }
    }
  }
  .footer-logo{
    display: table;
  }
  .copyright{
    clear: both;
    background-color: $bg-copyright;
    p{
      text-align: center;
      padding: 26px;
      color: $text-white;
      font-size: 14px;
    }
  }
}
