@charset "UTF-8";

body{
  background-color: $bg-eee;
}
/*===========================================
 bg-dashed設定
=============================================*/
.bg-dashed-left{
  position: absolute;
  top: 100px;
  left: 25%;
  content: "";
  border-left: 1px dashed $bg-555;
  height: 90%;
  z-index: -2;
  // @include media($tablet) {
  //   display: none;
  // }
}
// .bg-dashed-center{
//   @include media($tablet) {
//     position: absolute;
//     top: 100px;
//     left: 50%;
//     content: "";
//     border-left: 1px dashed $bg-555;
//     height: 90%;
//     z-index: -2;
//   };
// }
.bg-dashed-right{
  position: absolute;
  top: 100px;
  right: 25%;
  content: "";
  border-left: 1px dashed $bg-555;
  height: 90%;
  z-index: -2;
  // @include media($tablet) {
  //   display: none;
  // }
}

/*===========================================
 transition設定
=============================================*/
#top-head,
#top-head:after,
#top-head .logo,
.head-nav ul li,
.head-nav ul li a {
  @include transition(all 0.3s ease);
}

/*===========================================
 Fixed設定
=============================================*/
.fixed{
  background-color: $bg-white;
  &::after{
    width: 100%;
    margin-top: 20px;
  }
  .head-nav{
    ul{
      li{
        a{
          color: $text-555;
          &:hover{
            color: $base-color;
          }
        }
      }
    }
  }
  .top-btn{
    .btn-white{
      display: none;
    }
    .btn-blue{
      display: block;
    }
  }
  .headmenu-logo{
    display: block;
  }
}

/*===========================================
 navToggle設定
=============================================*/
#nav-toggle{
  display: none;
  position: absolute;
  top: 26px;
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  div{
    position: relative;
  }
  span{
    display: block;
    position: absolute;
    width: 100%;
    border-bottom:solid 2px $text-white;
    transition: .35s ease-in-out;
    &:nth-child(1){
      top: 2px;
    }
    &:nth-child(2){
      top: 11px;
    }
    &:nth-child(3){
      top: 20px;
    }
  }
}

/*===========================================
use-content-wrap設定
=============================================*/
.use-content-wrap{
  .section-wrap{
    position: relative;
    /*===========================================
    use-visual設定
    =============================================*/
    .title{
      padding-top: 0;
      color: $text-555;
      font-weight: normal;
    }
    .use-content-box{
      position: relative;
      .use-visual{
        position: relative;
        padding: 60px 0;
        width: 74%;
        height: 235px;
        margin: 0 auto;
        text-align: center;
        // @include media($tablet) {
        //   display: none;
        // };
        @include media($sp) {
          width: 77%;
          height: 115px;
        };
        .take{
          float: left;
          p{
            position: absolute;
            top: 30px;
            left: 48px;
            color: $text-white;
            background-color: $bg-accent;
            @include media($sp) {
              top: 40px;
              left: 18px;
            };
          }
        }
        .lend{
          float: right;
          p{
            position: absolute;
            top: 30px;
            right: 48px;
            color: $text-white;
            background-color: $base-color;
            @include media($sp) {
              top: 40px;
              right: 18px;
            };
          }
        }
        img{
          width: 218px;
          height: 218px;
          display: inline-block;
          border: 7px solid $text-555;
          @include border-radius(50%);
          z-index: -2;
          @include media($sp) {
            width: 100px;
            height: 100px;
          };
        }
        p{
          width: 120px;
          color: $text-555;
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
          padding: 5px;
          font-size: 20px;
          @include media($sp) {
            padding: 3px;
            font-size: 14px;
            width: 70px;
          };
        }
      }
      /*===========================================
      step-box設定
      =============================================*/
      .use-step-wrap{
        width: 100%;
        clear: both;
        margin: auto;

        .divition-box{
          text-align: center;
          clear: both;
          &:last-child{
            padding-bottom: 60px;
          }
          span{
            width: 100%;
            color: $text-black;
            font-size: 24px;
            padding: 20px 0;
            display: inline-block;
            @include media($sp) {
              font-size: 20px;
            };
          }
          .divition-content{
            position: relative;
            .tab{
              .bg-accent{
                background-color: $bg-accent;
              }
              h2{
                background-color: $base-color;
                color: $text-white;
                padding: 20px 0;
                margin-top: 0;
                margin-bottom: 0;
                width: 50%;
                float: left;
                cursor: pointer;
                @include media($sp) {
                  font-size: 18px;
                  padding: 10px 0;
                };
              }
              .triangle-accent{
                display: none;
                position: absolute;
                top: 50px;
                left: 23%;
              	width: 0;
              	height: 0;
              	border: 8px solid transparent;
              	border-top: 8px solid $bg-accent;
                @include media($sp) {
                  display: inline-block;
                };
              }
              .triangle-base{
                display: none;
                position: absolute;
                top: 50px;
                right: 23%;
              	width: 0;
              	height: 0;
              	border: 8px solid transparent;
              	border-top: 8px solid $base-color;
              }
            }
            .content-p{
              clear: both;
              @include media($sp) {
                .hide{
                  display: none;
                }
                .sp-border-accent{
                  border: 3px solid $bg-accent;
                }
                .sp-border-base{
                  border: 3px solid $base-color;
                }
              };
              p{
                background-color: $bg-white;
                width: 50%;
                float: left;
                margin-top: 0;
                margin-bottom: 0;
                box-sizing: border-box;
                padding: 30px;
                line-height: 2;
                text-align: justify;
                @include media($sp) {
                  font-size: 14px;
                  float: none;
                  width: 100%;
                };
              }
            }
          }
        }
        .step-box{
          text-align: center;
          clear: both;
          &:last-child{
            padding-bottom: 60px;
          }
          span{
            width: 100%;
            color: $text-black;
            font-size: 24px;
            padding: 20px 0;
            display: inline-block;
            @include media($sp) {
              font-size: 20px;
            };
          }
          h2{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 26px;
            width: 100%;
            background-color: $base-color;
            color: $text-white;
            padding: 20px 0;
            @include media($sp) {
              font-size: 18px;
              padding: 10px 0;
            };
          }
          p{
            margin-top: 0;
            color: $text-555;
            font-size: 18px;
            padding: 30px 30px;
            width: 100%;
            line-height: 2;
            background-color: $bg-white;
            box-sizing: border-box;
            @include media($sp) {
              font-size: 14px;
            };
          }
          .step-division{
            width: 50%;
            float: left;
            .bg-accent{
              background-color: $bg-accent;
            }
            p{
              text-align: justify;
            }
          }
          // .sp-h-size{
          //   p{
          //     // @include media($sp) {
          //     //   height: 200px;
          //     //   overflow: auto;
          //     // };
          //   }
          // }
        }
      }
    }
  }
}
