/*===========================================
	button設定
=============================================*/
.btn-wrap{
  padding: 60px 0;
  clear: both;
  .button{
    display: block;
    width: 50%;
    background-color: $base-color;
    border: none;
    @include border-radius(5px);
    margin: 0 auto;
      a{
        display: block;
        color: $text-white;
        padding: 27px;
        font-size: 24px;
        letter-spacing: 1.4px;

        &:hover{
          opacity: $opacity;
        }
      }
  }
}
/*===========================================
	section設定
=============================================*/
section{
  h2,h3{
    font-weight: normal;
  }
}

/*===========================================
	header設定
=============================================*/
header{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 999;

		.sp-head-nav{
			display: none;
		}

		.head-nav{
			position: absolute;
			float: left;
			transform: translate(-50%,-50%);
			left: 50%;
			top: 50%;
			box-sizing: border-box;
				ul li{
					float: left;
				}
				a{
          display: block;
          padding: 25px;
					color: $text-white;
					&:hover{
						opacity: 0.7;
            //@include border;
						//padding-bottom: 8px;
						//transition: all 0.3s ease-out;
					}
					&:hover::after{
						opacity: 1;
						top: 100%;
						height: 4px;
					}
				}
		}
		.top-btn{
			text-align: center;
      float: right;
      margin: 16px 30px 20px 20px;
			width: 200px;
			background-color: $base-color;
			border: none;
			@include border-radius(3px);
			a{
				display: block;
				color: $text-white;
				padding: 10px;
				font-size: 14px;
				letter-spacing: 1.4px;
				&:hover{
					opacity: $opacity;
				}
			}
		}
		.headmenu-logo{
			display: inline-block;
      float: left;
      margin: 16px 0 0 30px;
			display: none;
		}
}
/*===========================================
	transition設定
=============================================*/
#top-head,
#top-head:after,
#top-head .logo,
.head-nav ul li,
.head-nav ul li a {
	@include transition(all 0.3s ease);
}
/*===========================================
	Fixed設定
=============================================*/
	.fixed{
		background-color: $bg-white;
		&::after{
			width: 100%;
			margin-top: 20px;
		}
		.head-nav{
			ul li a{
				color: $text-555;

        &:hover{
          color: $base-color;
        }
			}
		}
		.headmenu-logo{
			display: block;
		}
	}

  /*===========================================
  	navToggle設定
  =============================================*/
  #nav-toggle{
    display: none;
    float: right;
    margin: 26px 30px 0 0;
    width: 30px;
    height: 25px;
    cursor: pointer;
    div{
      position: relative;
    }
    span{
      display: block;
      position: absolute;
      width: 100%;
      border-bottom:solid 3px $text-white;
      transition: .35s ease-in-out;

      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        top: 11px;
      }
      &:nth-child(3){
        top: 22px;
      }
    }
  }


/*===========================================
	.top設定
=============================================*/

.top{
  //background-image: url(../../dist/img/bg_sp_top.png);
  height: 100vh;
	text-align: center;
  position: relative;
  .video-wrap{
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    .yt-video{
      height: 100vh;
      width: 100vw;
    }
  }
  .top-head-content{
    width: 37vw;
    height: calc(37vw * 1.0);
    position: absolute; /* 3 */
    top: 0;             /* 4 */
    left: 0;            /* 5 */
    right: 0;           /* 6 */
    bottom: 0;           /* 7 */
    margin: auto;        /* 8 */
    .top-logo{
      margin-bottom: 20px;
    }
    p{
      color: $text-white;
      font-size: 22px;
    }
    .btn-play-wrap{
      .btn-play{
        display: inline-block;
        border: 1px solid #fff;
        color: $text-white;
        @include border-radius(50px);
        padding: 26px 80px;
        margin: 60px 0;
        &:hover{
          opacity: $opacity;
        }
      }
    }
    .btn-app-wrap{
      display: inline-block;
      width: 100%;
      .btn-app {
        display: inline-block;
        width: 39%;
        max-width: calc(200px - 5%);
        margin: 0 5%;
      }
      .google{
      }
    }
  }

}

/*===========================================
	.news設定
=============================================*/
.news-wrap{
	background-color: $bg-eee;
	height: 330px;
    .news-list-box{
      text-align: center;
      width: 700px;
      min-width: 800px;
      height: 150px;
      margin: 40px auto;
      overflow-y: scroll;
    }
    .news-list{
      .news-item{
        a{
          display: block;
          padding: 15px;
          color: $text-black;
          font-size: 0;
          transition: background-color 0.1s;

          &:hover{
            background-color: $bg-white;
          }
          span{
            font-size: 20px;
            padding-left: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .date{
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
}

/*===========================================
	.service設定
=============================================*/

.service-wrap{
  height: auto;
  background-color: $bg-white;
    .service-left{
      width: 50%;
      float: left;
      margin-left: 20px;
        .title{
          text-align: left;
          color: $text-555;
          padding-bottom: 46px;
        }
        p{
          line-height: 2;
          font-size: 18px;
          color: #555;
        }
    }
    .service-img{
      margin-right: 20px;
      padding: 60px 0;
      float: right;
        img:first-child{
          padding-right: 30px;
        }
    }
}

/*===========================================
	.step設定
=============================================*/

.step-wrap{
  clear: both;
  background: url('../img/step_bg.png') no-repeat center;
  color: $text-white;
    .step{
      display: table-cell;
      padding: 60px 20px 0 20px;
      text-align: center;
      box-sizing: border-box;
        h3{
          padding: 35px 0;
          font-size: 22px;
        }
        p{
          opacity: 0.9;
          text-align: left;
          font-size: 18px;
          line-height: 1.8;
        }
        img{
          @include border-radius(50px)
        }
    }
}

/*===========================================
	.info設定
=============================================*/

.info-wrap{
  background-color: $bg-eee;
  text-align: center;
    .bg-iphone{
      display: block;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      z-index: 10;
    }
    .title{
      color: $text-black;
    }
    p{
      font-size: 16px;
      padding: 40px 0 60px 0;
      line-height: 2;
      color: $text-black;
    }
}

/*===========================================
	q&a設定
=============================================*/

.qa-wrap{
  background-color: $bg-white;
    .question{
      margin-bottom: 20px;
      padding: 10px 0;
      width: 1000px;
      border: 1px solid $base-color;
      box-sizing: border-box;
      @include border-radius(3px);

      &:first-child{
        margin-top: 60px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      span{
        color: $base-color;
        display: table-cell;
        padding: 10px 20px;
        font-size: 30px;
        font-weight: normal;
      }
      .question-title{
        font-size: 18px;
        color: $text-black;
        border-left: 1px solid $base-color;
        padding: 10px 10px 10px 20px;
        display: table-cell;
        vertical-align: middle;
      }
      .question-text{
        font-size: 16px;
        color: $text-555;
        margin-top: 10px;
        line-height: 1.8;
        padding: 10px 20px 0 20px;
        border-top: 1px dotted $base-color;
      }
    }
}

/*===========================================
	blog設定
=============================================*/

.blog-wrap{
  width: 100%;
  background: url('../img/bg_blog.png') no-repeat center;
  background-size: cover;
  h2{
    color: $text-eee;
  }
  .blog-contents-wrap{
    padding-top: 60px;
      .blog-content{
        display: block;
        width: 320px;
        overflow: hidden;
        margin-right: 20px;
        text-align: left;
        float: left;

        &:last-child{
          margin-right: 0px;
        }
          p{
            width: 320px;
            font-size: 16px;
            margin: -5px auto 0 auto;
            background-color: $bg-white;
            padding: 15px 20px 10px 20px;
            box-sizing: border-box;
            color: $text-555;
            line-height: 1.6;
          }
          time{
            font-weight: bold;
          }
          img{
            &:hover{
              opacity: $opacity;
            }
          }
      }
  }
}

/*===========================================
	sns設定
=============================================*/

.sns-contents-wrap{
    width: 800px;
    margin: 0 auto;
  }
.facebook{
  float: left;
}
.twitter{
  float: right;
}
.p60{
  padding: $padding60;
}

/*===========================================
	footer設定
=============================================*/
footer{
  clear: both;
  background-color:$bg-footer;
    .section-wrap{
      height: 220px;
      padding-top: 70px;
      .footer-navapp-box{
        float: right;
      }
    .footer-logo{
      float: left;
    }
    .footer-navbox{
      float: left;
      .footer-nav{
        float: left;
        li{
          padding-bottom: 30px;
          padding-right: 110px;

          &:last-child{
            padding-right: 0;
          }
        }
        a{
          font-size: 14px;
          color: $text-white;

          &:hover{
            opacity: $opacity;
            color: $text-eee;
          }
        }
      }
    }
    .footer-app{
      float: right;
        a{
          img{
            &:first-child{
              padding-bottom: 10px;
            &:hover{
              opacity: $opacity;
            }
            }
          }
        }
    }
  }
  .copyright{
    clear: both;
    background-color: $bg-copyright;
      p{
        text-align: center;
        padding: 26px;
        color: $text-white;
        font-size: 14px;
      }
  }
}

/*===========================================
レスポンシブ(@media max-width:1000px)設定
=============================================*/

@media(max-width: 1000px){

/*===========================================
	button設定
=============================================*/
  .btn-wrap{
    .button{
      a{
        padding: 20px;
        font-size: 22px;
      }
    }
  }
/*===========================================
  top設定
=============================================*/
  #nav-toggle{
    display: block;
  }
  header{
    .head-nav{
      ul{
        li{
          border-bottom: 1px solid $base-color;
          &:last-child{

          }
        }
      }
      display: none;
      a{
        color: $text-black;
      }
    }
    .top-btn{
      right: 12%;
    }
  }
  .top{
    background-image: url(../../dist/img/bg_sp_top.png);
    .top-head-content{
      height: 60vh;
    }
  }

/*===========================================
fixed設定
=============================================*/

  .fixed{
    background-color: $bg-white;
    &::after{
      width: 100%;
      margin-top: 20px;
    }
    #nav-toggle{
      span{
        border-bottom:solid 3px $text-555;
      }
    }
    .head-nav{
      background-color: $bg-white;
      ul li a{
        color: $text-555;

        &:hover{
          color: $text-white;
        }
      }
    }
    .headmenu-logo{
      display: block;
    }
  }

/*===========================================
open-nav設定
=============================================*/

  .open-nav{
    nav{
      text-align: left;
      background: rgba(255, 255, 255, 0.7);
      display: block;
      transform: translateY(351px);
      position: absolute;
      width: 20%;
      top: -272px;
      left: 80%;
      transition:.5s ease-in-out;
      ul{
        li{
          float: none;
          &:hover{
            background: $base-color;
          }
          a{
            &:hover{
              color: $text-white;
            }
          }
        }
      }
    }
    #nav-toggle{
      span{
        &:nth-child(1){
          top: 11px;
          transform: rotate(-45deg);
        }
        &:nth-child(2),
        &:nth-child(3){
          top: 11px;
          transform:rotate(45deg);
        }
      }
    }
  }

/*===========================================
	.news設定
=============================================*/

  .news-wrap{
      .news-list-box{
        width: 70vw;
        min-width: 0;
      }
      .news-list{
        .news-item{
          a{
          text-align: left;
          line-height: 1.6;
          span{
            font-size: 18px;
            padding-left: 0;
          }
        }
      }
      .date{
        font-size: 18px;
      }
    }
  }

/*===========================================
	.service設定
=============================================*/

  .service-wrap{
    height: auto;
    background-color: $bg-white;
    .service-left{
      .title{
        text-align: center;
      }
      width: 90vw;
      float: none;
      margin: 0 auto;
    }
    .service-img{
      text-align: center;
      margin-right: 0;
      padding: 60px 0;
      float: none;
        img:first-child{
          padding-right: 30px;
        }
      }
    }


/*===========================================
  q&a設定
=============================================*/

.qa-wrap{
  background-color: $bg-white;
    .question{
      margin: 0 auto 20px auto;
      padding: 10px 0;
      width: 90vw;
      border: 1px solid $base-color;
      box-sizing: border-box;
      @include border-radius(3px);

      &:first-child{
        margin-top: 60px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      span{
        color: $base-color;
        display: table-cell;
        padding: 10px 20px;
        font-size: 30px;
        font-weight: normal;
      }
      .question-title{
        font-size: 18px;
        color: $text-black;
        border-left: 1px solid $base-color;
        padding: 10px 10px 10px 20px;
        display: table-cell;
        vertical-align: middle;
      }
      .question-text{
        font-size: 16px;
        color: $text-555;
        margin-top: 10px;
        line-height: 1.8;
        padding: 10px 20px 0 20px;
        border-top: 1px dotted $base-color;
      }
    }
  }

  /*===========================================
    blog設定
  =============================================*/

    .blog-wrap{
      width: 100%;
      background: url('../img/bg_blog.png') no-repeat center;
      background-size: cover;
      h2{
        color: $text-eee;
      }
      .blog-contents-wrap{
        .blog-content{
          margin-bottom: 40px;
          width: 100%;
          a{
            float: none;
          }
          &:last-child{
            margin-bottom: 0;
          }
          p{
            width: 500px;
          }
          img{
            width: 500px;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }

/*===========================================
 sns設定
=============================================*/

    .sns-contents-wrap{
        width: 800px;
        max-width: 90vw;
        margin: 0 auto;
      }
    .facebook{
      float: left;
    }
    .twitter{
      float: right;
    }
    .p60{
      padding: $padding60;
    }

/*===========================================
	footer設定
=============================================*/
  footer{
      .section-wrap{
        width: 90vw;
      .footer-navbox{
        .footer-nav{
          li{
            padding-right: 100px;
          }
        }
      }
    }
  }
}
