/*===========================================
 レスポンシブ(@media max-width:960px)設定
=============================================*/

@media screen and (max-width: 960px){


/*===========================================
 fixed設定
=============================================*/
.fixed{
  background-color: $bg-white;
  .headmenu-logo{
    display: block;
  }
  &::after{
    width: 100%;
    margin-top: 20px;
  }
  #nav-toggle{
    span{
      border-bottom: solid 2px $text-555;
    }
  }
  .head-nav{
    background-color: $bg-white;
    ul{
      li{
        a{
          color: $text-555;
          &:hover{
            color: $text-white;
          }
        }
      }
    }
  }
}

/*===========================================
 open-nav設定
=============================================*/
  .open-nav{
    nav{
      text-align: left;
      background: rgba(255, 255, 255, 0.7);
      display: block;
      transform: translateY(351px);
      position: absolute;
      width: 20%;
      top: -272px;
      left: 80%;
      transition:.5s ease-in-out;
      ul{
        li{
          float: none;
          &:hover{
            background: $base-color;
          }
          a{
          &:hover{
            color: $text-white;
          }
          }
        }
      }
    }
    #nav-toggle{
      span{
        &:nth-child(1){
          top: 11px;
          transform: rotate(-45deg);
        }
        &:nth-child(2),
        &:nth-child(3){
          top: 11px;
          transform:rotate(45deg);
        }
      }
    }
  }

/*===========================================
 .news設定
=============================================*/
.news-wrap{
    .news-list-box{
      width: 60vw;
      margin: 40px auto 0 auto;
      min-width: 0;
    }
    .news-list{
      .news-item{
        a{
          text-align: left;
          line-height: 1.6;
          span{
            font-size: 18px;
            padding-left: 0;
          }
        }
      }
      .date{
        font-size: 18px;
      }
    }
  }

/*===========================================
	.service設定
=============================================*/
  .service-wrap{
    .service-left{
      width: 90vw;
      float: none;
      margin: 0 auto;
      .title{
        text-align: center;
      }
    }
    .service-img{
      text-align: center;
      margin-right: 0;
      padding: 60px 0;
      float: none;
        img:first-child{
          padding-right: 30px;
        }
      }
    }

/*===========================================
  info設定
=============================================*/
  .info-wrap{
  .section-wrap{
    width: 90vw;
    margin: 0 auto;
    }
  }
  .swiper-content-wrap{
    overflow: hidden;
  }

/*===========================================
  q&a設定
=============================================*/
.qa-wrap{
    .question{
      margin: 0 auto 20px auto;
      width: 90vw;
    }
  }

/*===========================================
  blog設定
=============================================*/
  .blog-wrap{
    .blog-contents-wrap{
      width: 80vw;
      margin: 0 auto;
      .blog-content{
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
        a{
          float: none;
        }
        &:last-child{
          margin-bottom: 0;
        }
        p{
          width: 100%;
          height: auto;
        }
        img{
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

/*===========================================
	footer設定
=============================================*/
  footer{
      .section-wrap{
        width: 90vw;
      .footer-navapp-box{
        width: 80%;
        margin: 0 auto;
        .footer-nav{
          width: 20%;
          li{
            padding-right: 0;
          }
        }
      }
    }
  }

}

/*===========================================
 レスポンシブ(@media max-width:600px)設定
=============================================*/

@media screen and (max-width: 600px){

/*===========================================
 共通設定
=============================================*/
  .title{
    font-size: 26px;
  }
/*===========================================
 button設定
=============================================*/
  .btn-wrap{
    .button{
      a{
        padding: 12px;
        font-size: 14px;
      }
    }
  }

/*===========================================
 header設定
=============================================*/
  .top{
    height: 100vh;
    text-align: center;
    .top-head-content{
      width: 60vw;
      height: 70vh;
      p{
        font-size: 18px;
      }
    }
    header{
      height: 70px;
      .head-nav{
        .pc-none{
          display: block;
        }
        a{
          font-size: 12px;
        }
      }
      .headmenu-logo{
        margin-top: 14px;
        margin-left: 10px;
      }
      .top-btn{
        margin: 20px 70px 0 0;
        img{
          width: 140px
        }
        /*
        width: 130px;
        background-color: $bg-white;
        a{
          padding: 5px;
          font-size: 12px;
          letter-spacing: 0;
          color: $base-color;
        }
        */

      }
      #nav-toggle{
        width: 26px;
        top: 22px;
        right: 22px;
      }
    }
  }

/*===========================================
 fixed設定
=============================================*/
  .fixed{
    .top-btn{
      //display: none;
      .btn-white{
        display: none;
      }
      .btn-blue{
        display: block;
      }
    }
    .headmenu-logo{
    }
  }

/*===========================================
  .open-nav設定
=============================================*/
  .open-nav{
    nav{
      width: 40%;
      left: 60%;
    }
  }

/*===========================================
  .news設定
=============================================*/
    .news-wrap{
        .news-list-box{
          width: 90vw;
          margin: 40px auto 0 auto;
          min-width: 0;
        }
        .news-list{
          .news-item{
            a{
            text-align: left;
            line-height: 1.6;
            span{
              font-size: 18px;
              padding-left: 0;
            }
          }
        }
        .date{
          font-size: 18px;
        }
      }
    }

/*===========================================
  .service設定
=============================================*/
  .service-wrap{
      .service-left{
        width: 90vw;
        margin: 0 auto;
        .title{
          text-align: center;
        }
        p{
          text-align: justify;
        }
      }
      .service-img{
        img{
          width: 125px;
          height: 255px;
      }
    }
  }

/*===========================================
  .step設定
=============================================*/
.step-wrap{
  height: auto;
  background: url('../img/bg_sp_step.png') no-repeat;
  background-size: cover;
  .section-wrap{
    width: 90vw;
    margin: 0 auto;
    .step-content-wrap{
      .step{
      float: left;
        h3{
          font-size: 20px;
        }
        p{
          text-align: center;
        }
      }
    }
  }
}

/*===========================================
	.info設定
=============================================*/
.info-wrap{
  margin-right: 0;
  img{
    display: block;
    max-width: 130%;
    overflow: hidden;
    margin-right: 30px;
  }
  .section-wrap{
    width: 90vw;
    margin: 0 auto;
  }
  .bg-iphone{
    width: 270px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
  }
  .swiper-slide,.swiper-slide-active{
    img{
      width: 414px;
      height: 350px;
    }
  }
}

/*===========================================
  blog設定
=============================================*/
.qa-wrap{
  .question{
    .question-text{
      font-size: 14px;
    }
    .question-title{
      font-size: 16px;
    }
  }
}

/*===========================================
  blog設定
=============================================*/
  .blog-wrap{
    .blog-contents-wrap{
      .blog-content{
        p{
          font-size: 14px;
        }
      }
    }
  }

/*===========================================
 sns設定
=============================================*/
.sns-wrpa{
  width: 80vw;
  margin: 0 auto;
  .section-wrap{
    width: 100%;
    .sns-contents-wrap{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      .fb-page{
        float: none;
        width: 350px;
        display: block;
        margin: 0 auto;
      }
      .twitter{
        padding-top: 0 !important;
        float: none;
        width: 100%;
        margin: 0  auto;
      }
    }
  }
}

/*===========================================
  footer設定
=============================================*/
footer{
    .section-wrap{
      width: 90vw;
      height: auto;
    .footer-navapp-box{
      float: none;
    .footer-nav{
      width: 33%;
        a{
          font-size: 13px;
        }
        li{
          padding-right: 0;
        }
    }
    .footer-app{
      text-align: center;
      display: inline-block;
      width: 100%;
      margin: 50px auto;
        a{
          img{
            &:first-child{
              padding-bottom: 0;
              }
            }
          }
    .btn-app-footer{
        display: inline-block;
        width: 39%;
        max-width: calc(200px - 5%);
        margin: 5% 1%;
          img{
            width: 141px;
            height: 42px;
          }
        }
      }
    }
    .footer-logo{
      margin: 0 auto;
      clear: both;
        img{
          width: 80px;
          height: 106px;
        }
      }
    }
  }

}

/*===========================================
 レスポンシブ(@media max-width:414px)設定
=============================================*/

@media screen and (max-width: 414px){

/*===========================================
 共通設定
=============================================*/
.title{
  font-size: 22px;
}

/*===========================================
	button設定
=============================================*/
.btn-wrap{
  .btn-more{
    a{
      font-size: 11px !important;
    }
  }
  .button{
    width: 70%;
    a{
      padding: 12px;
      font-size: 14px;
    }
  }
}

/*===========================================
  top設定
=============================================*/
.top{
  header{
    .headmenu-logo{
      margin-left: 10px !important;
      margin-top: 18px;
      img{
        height: 30px;
      }
    }
    .top-btn{
      margin-right: 60px;
      img{
        width: 130px;
      }
    }
    #nav-toggle{
      width: 22px;
      top: 22px;
      right: 20px;
      span{
        &:nth-child(1){
          top: 4px;
        }
        &:nth-child(3){
          top: 18px;
        }
      }
    }
  }
  .top-head-content{
    width: 90vw;
    height: 70vh;
    p{
      font-size: 16px;
    }
  }
}

/*===========================================
  .open-nav設定
=============================================*/
.open-nav{
  #nav-toggle{
    span{
      &:nth-child(1){
      top: 11px !important;
      transform: rotate(-45deg);
    }
      &:nth-child(2),
      &:nth-child(3){
      top: 11px !important;
      transform:rotate(45deg);
      }
    }
  }
}

/*===========================================
  .news設定
=============================================*/
.news-wrap{
  .news-list{
    .news-item{
      a{
        span{
          font-size: 16px;
        }
        .date{
          font-size: 16px;
        }
      }
    }
  }
}

/*===========================================
  .service設定
=============================================*/
.service-wrap{
  .service-left{
    p{
      font-size: 16px;
    }
  }
}

/*===========================================
  step設定
=============================================*/
.step-wrap{
  .step{
    p{
      font-size: 16px;
    }
  }
}

/*===========================================
 sns設定
=============================================*/
.sns-wrpa{
  width: 80vw;
  margin: 0 auto;
    .section-wrap{
      width: 100%;
    .sns-contents-wrap{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      .fb-page{
        width: 100%;
        display: block;
        margin: 0 auto;
        iframe{
          width: 100%;
        }
      }
      .twitter{
        float: none;
        width: 100%;
        margin: 0  auto;
      }
    }
  }
}

/*===========================================
  footer設定
=============================================*/
footer{
  .section-wrap{
  .footer-navapp-box{
  .footer-app{
  .btn-app-footer{
    width: 45%;
    margin: 5% 2%;
      }
    }
  }
}
.copyright{
  p{
    small{
      font-size: 12px;
      }
    }
  }
}

}

/*===========================================
 レスポンシブ(@media max-width:360px)設定
=============================================*/

@media screen and (max-width: 360px){

/*===========================================
 top設定
=============================================*/
.top{
  header{
    height: 60px;
    .headmenu-logo{
      margin-left: 10px !important;
      margin-top: 12px;
      img{
        height: 30px;
      }
    }
    .top-btn{
      margin: 17px 50px 0 0;
      img{
        width: 110px;
      }
    }
    #nav-toggle{
      width: 20px;
      top: 16px;
      right: 16px;
    }
  }
  .top-head-content{
    width: 90vw;
    height: 70vh;
    p{
      font-size: 14px;
    }
  }
}

/*===========================================
  footer設定
=============================================*/
footer{
  .section-wrap{
    .footer-navapp-box{
      .footer-app{
        .btn-app-footer{
        width: 44%;
        margin: 5% 2%;
      }
    }
  }
}
  .copyright{
    p{
      small{
      font-size: 12px;
      }
    }
  }
}

}
